# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db